<!DOCTYPE html>{% load bootstrap3 %}{% load static %}
<html lang="ru">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="header">
    <div class="header-bg header-image">
      <div class="header__text">
        <p>BloD</p>
      </div>
    </div>
    <div class="menu" >
      <ul class="links center clearfix">
        <li><a href="blog/" class="menu_link">blog</a></li>
        <li><a href="admin/" class="menu_link">admin</a></li>
      </ul>
    </div>
  </div>
  <div class="content-wrap">
    {% block body %}
    {% endblock %}
  </div>
  <div class="footer">
    <p>@Hi</p>
  </div>
</body>
</html>
